{% extends 'core/base.html' %}
{% load static %}
{% block titulo %} Productos {% endblock %}
{% block breadcrumn %} desc about {% endblock %}

{% block principal %}
<link rel="stylesheet" href="{% static 'core/css/myStyles.css' %}">
<div class="contenedor-productos m-5">
    {% for producto in listaProductos %}
    <div class="card m-3" style="width:200px">
        <img class="card-img-top" src="{% static 'core/images/'|add:producto.nombre|add:'.jpg' %}
        " alt="Card image">
        <div class="card-body">
            <h4 class="card-title">{{ producto.nombre }}</h4>
            <p class="card-text">{{ producto.description }}</p>
            <p class="card-desc">${{ producto.precio }}</p>
            <a href="{% url 'updateProducto' producto.id %}" class="btn btn-primary m-1">Modificar</a>
            <a onclick="confirmDelete({{ producto.id }})" class="btn btn-primary m-1">Eliminar</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}