<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidos a mi sitio web</h1>
    <nav>
        <a href="">Home</a>
        <a href="">Quienes somos</a>
        <a href="">Contacto</a>
    </nav>
    <section>
        <h2>Contenido principal</h2>
        {% block principal %}

        {% endblock %}
    </section>
    <footer>
        <h2>20-08-2024</h2>
    </footer>
</body>
</html>